:root{
    --mainBrown: #DEB887;
    --mainBlue: #5F9EA0;
    --darkBlue: #191970;
    --mainGreen: #8FBC8F;
    --mainPurple: #E6E6FA;
    --mainPink: #FFE4E1;
  
}

body{
    font-family: 'Dosis', sans-serif !important;
    color: var(--darkBlue) !important;
    background: url(./img1.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-title{
    font-family: 'Indie Flower', cursive !important;
    letter-spacing: 0.3rem;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 8rem;
    height: 8rem;
}
.large{
    height:20rem !important;
    width: 20rem !important;
}
.disappear{
    background: transparent !important;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
    text-shadow: var(--darkBlue);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    z-index: 450;
}

img:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}
.btn-black{
    background:transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--mainBlue);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainBlue) !important;
}
.btn-black:hover{
    background: var(--mainGreen)!important;
    color: white !important;
}
.cart-icon{
    cursor:pointer;
    font-size:1.2rem;
    color:yellow;
}
.blogPageSec{
    width:100%;
    height:100%;
}
.photo-divide{
    height: 25rem;
    background: Transparent !important;
    align-content: center;
    text-align: center;
}
.card{
    width: 18rem;
    overflow: hidden;
    margin: 0rem 2rem 0rem 3rem;
    
}
.textColor{
    color:yellow !important;
}
.dark{
    background: rgb(217, 214, 218);
    opacity: 0.85;
    padding: 1.5rem 0 1.5rem 0;
}
.quote{
    font-family: 'Liu Jian Mao Cao', cursive !important;
    text-align: center !important;
    color: var(--mainBlue) !important;
}

